{% load staticfiles %}
<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="{% static 'article/style3.css' %}" />
	</head>
	<body>
		<div>
			<table cellspacing=10>
			{% if article_list %}
				{% for a in article_list %}
					<tr>
						<td class="name"><a href="/article/{{ a.article_name }}/" target=mainframe>{{a.article_name}}</a><td>
						<th><img src="/static/article/images/{{a.image_name}}" alt="can't display" height="50" width="100"/></th>
						<td class="value">{{a.article_value|truncatewords:20}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<p>No Artilces available</p>
			{% endif %}
			</table>
		</div>
	</body>
</html>